<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>product-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">product-details</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Szczegóły Produktu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ productDetails.Name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="productDetails.Img" alt="Product Image"></ion-img>
      <p><strong>Opis:</strong> {{ productDetails.Description }}</p>
      <p><strong>Data Rozpoczęcia:</strong> {{ productDetails['Start Date'] }}</p>
      <p><strong>Status:</strong> {{ productDetails.State }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
