ion-header {
  --ion-background-color: #007BFF;
  --ion-color-light: #fff;
}

ion-toolbar {
  --background: transparent;
}

ion-title {
  font-size: 1.5rem;
}

ion-input{
  --background: rgb(255, 255, 255)!important;}

form {
  max-width: 300px;
  margin: 50% auto 0;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}



ion-button {
  border-radius: 10px;
  --ion-background-color: #f4f4f4;
}

ion-button[expand="full"] {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

ion-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
ion-input {
  border-radius: 10px;
  color: black !important;;
  background-color: transparent !important;
}

ion-input::part(text-input) {
  background-color: transparent !important;
}


.login-button,.register-button{
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  max-width:50%;
  margin: 0 auto;
  margin-bottom: 10px; 
}



.google-login-button {
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  max-width:75%;
  margin: 0 auto;
}

.google-login-button {
  border: 2px solid #747474;
}

.google-icon {
  font-size: 18px;
  margin-bottom: 1px;
}


.password,.email{
  background-color: white;
}