<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="ion-text-center">
      <div style="display: flex; justify-content: center; align-items: center; width: 100%;">
        <ion-img src="assets/metbox-logo.png" alt="Metbox Logo" style="max-width: 260px; max-height: 90%; padding-bottom: 4%;padding-top: 4%;"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <form [formGroup]="credentials" (ngSubmit)="login()">
          <ion-item class="ion-margin-bottom">
            <ion-input label="Email" label-placement="floating" fill="solid" type="email" formControlName='email'></ion-input>
          </ion-item>
          <ion-item  class="ion-margin-bottom">
            <ion-input type="password" label="Password"  label-placement="floating" fill="solid" formControlName='password'></ion-input>
            <ion-note slot="error" *ngIf="(password?.dirty||password?.touched)&&password?.errors">Password is invalid</ion-note>
          </ion-item>
          <ion-button type="submit" [disabled]="!credentials.valid">Login</ion-button>

          <ion-button type="button" (click)="register()">Register</ion-button>
          <ion-button (click)="loginWithGoogle()">Login Google</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
